/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* コードの文字化けを防ぐ */
@charset "UTF-8";

/* 共通部分 */
html {
  /* ユーザの設定した文字サイズを正しく反映 */
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-selif;
  /* 行の高さの指定 */
  line-height: 1.7;
  color: #432;
  background-color: rgb(242, 242, 242)
}

.portfolio {
  background-color: white;
}

a {
  text-decoration: none;
  color: #432;
}


a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 60px;
  padding: 0 40px;
  font-size: 23px;
}

img {
  /* 画像が親要素よりも大きくなるのを防ぐ */
  max-width: 100%;
  margin: 30px 0;
}

/* Header */
.logo {
  width: 180px;
  /* 画像を円形にする設定 */
  border-radius: 50%;
  margin: 14px 15px 0 14px;
}

.main-nav {
  /* <li>タグを横並びにする */
  display: flex; 
  font-size: 1.25rem;
  /* 文字を大文字にする */
  text-transform: uppercase;
  margin-top: 74px;
  margin-right: 100px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;  
}

.main-nav a:hover {
  color: #0bd;
  text-decoration: none
}

.page-header {
  /* 横並びの設定 */
  display: flex;
  /* 両端に設置する設定 */
  justify-content: space-between;
}

.logo-title a:hover {
  text-decoration: none;
  color: #432;
}

.wrapper {
  max-width: 1100px;
  /* 中央に配置する設定 */ 
  margin: 0 auto;
  /* スマートフォンなどの横幅が狭いデバイス用の余白の設定 */
  padding: 0 4%;
}

/* Login後のnavbar */

.navbar-brand {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 28px;
  color: black;
  font-family: 'Philosopher', selif;
}

/* navの設定=固定 */
.navbar {
  position: fixed;
  position: -webkit-fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  /* padding: 1rem; */
 }

/* Home */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', selif;
  text-transform: uppercase;
  font-weight: normal;
}

.big-bg {
  /* 画像の縦横の比率を保ちながら画面いっぱいに広げる設定 */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
} 

#home {
  background-image: url('coffee.jpg');
  /* 画面の表示領域の高さいっぱいに画像を広げる */
  min-height: 100vh;
}


#home .page-title {
  text-transform: none;
}

h2 {
  padding-bottom: 40px;
}

.problem {
  padding-top: 100px;
}

.solution {
  padding-top: 100px
}

.function {
  padding-top: 100px;
}

.after-reading { 
  margin-top: 200px;
}

.after-problem {
  margin-top: 160px;
}

.after-solution {
  margin-top: 160px;
}

.after-function {
  margin-top: 120px;
}


/* Signup */
h1 {
  font-size: 30px;
} 
.account {
  padding-top: 333px;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  font-size: 16px;
}

.signup {
  margin-top: 3rem;
  border-radius: 50px;
}

.name {
  margin-top: 50px; 
}

.password {
  margin-top: 3rem;
}

.passwordcon {
  margin-top: 3rem;
}

/* Log in */

.login {
  margin-top: 3rem;
  border-radius: 50px;
}


/* flashメッセージ */

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-top: 100px;
  margin-bottom: -60px;
  margin-right: 200px;
  margin-left: 200px;
}

.alert-danger {
  
  margin-top: 100px;
  margin-bottom: -80px;
  margin-right: 200px;
  margin-left: 200px;
}

/* User-toppage */

.content1 h5 {
  margin-top: 30px;
}

h5 {
  font-size: 2.3rem;
}

/* post */

.c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 50%;
}

/* ドロップダウンの文字 */

.dropdown-item {
  font-size: 18px;
}

.nav-link {
  font-size: 18px;
}

/* User */

#user-show img {
  /* 円形にする */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
   
.user-profile{
  width: 300px;
  padding:2em;
  background:#fff;
  border:#ddd 5px solid;
  border-radius:10px;
  margin-top: 30px;
}

.user-profile img{
  width:100%;
  height:auto;
  border-radius:30px 0;
  margin-left: 30px;
}

/* user-detail */

.user-img-edit {
  margin-top: 130px;
}

.user-img-edit img {
  margin: 0;
}

.user-pro-img {
  width: 145px;
  height: 145px;
  /* 画像を円形にする設定 */
  border-radius: 50%;
}

/* post */

.post-modal a {
  display:block;
  height:50px;
  margin-top: 70px;
  line-height:50px;
  background:tomato;
  color:#fff;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
}

.post-modal-toppage {
  width: 100%;
  padding: 10px 5px 5px 10px;
  background-color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 60px;
  margin: 100px auto 40px;
}

.post-modal-toppage a {
  display:block;
  height:50px;
  margin-top: 30px;
  line-height:50px;
  background:tomato;
  color:#fff;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
}

/* profile欄 */

.profile-intro {
  margin-top: 20px;
}

.user-name {
  margin-top: 15px;
  margin-left: 15px;
}



/* user-toppage */

.user-toppage p {
  margin-bottom: 25px;
} 

/* profileの投稿数の位置設定 */

.posts-ml {
  margin-left: 15px;
} 

/* profileのsubscriptionなどの記入欄 */

.profile-intro p {
  margin-left: -27px;
}

/* View-profile */

.user-profile a{
  display:block;
  height:50px;
  margin:1em 0;
  line-height:50px;
  background:tomato;
  color:#fff;
  border-radius:25px;
  box-shadow:0 5px 0 gold;
  text-decoration:none;
  text-align:center;
}

#user-show img {
  /* 円形にする */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-left: 0px;
}

.user-profile{
  width: 210px;
  padding: 20px;
  background:#fff;
  border:#ddd 5px solid;
  border-radius: 50px;
  margin-top: 30px;
}

.user-profile img{
  width:100%;
  height:auto;
  border-radius:30px 0;
  margin-left: 30px;
}

.content {

  width: 100%;
  padding: 15px 30px;
  background-color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 22px;
  margin-top: 50px;
  margin-left: 43px;
}

.post-modal {
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 22px;
}

.post-modal a {
  display:block;
  height:50px;
  margin-top: 30px;
  line-height:50px;
  background:tomato;
  color:#fff;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
}

.post-modal-toppage {
  width: 100%;
  padding: 10px 5px 5px 10px;
  background-color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 60px;
  margin: 100px auto 40px;
}

.content2 {

  width: 100%;
  padding: 15px 30px;
  background-color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 22px;
  margin-top: 50px;
  margin-left: 43px;
}

/* profileの投稿数の位置設定 */

.posts-ml {
  margin-left: 15px;
} 

/* profileのsubscriptionなどの記入欄 */

.profile-intro p {
  margin-left: -27px;
}

/* like unlike button */
.like-unlike-button .btn {
 font-size: 15px;
 border-radius: .2rem;  
 margin-left: -14px;
}

/* edit-profile button */

.edit-profile-btn {
  margin-top: 45px;
}


/* varius-button */

.varius-btn {
  margin-top: 25px;
}

/* nameの上の余白 */

.margin-post {
  margin-top: 25px;
}

/* text-mutedのfont-size */

.text-muted {
  font-size: 11px;
}

/* View-profile */

.edit-profile {
  margin-top: 83px
}

.change-pro {
  margin-top: 20px;
}

.change-photo {
  margin-left: 50px;
}

.all-user {
  margin-top: 110px;
}

.border-bottm {
  border-bottom: solid 1px;
}

.change-photo {
  margin-left: 377px;
}

/* like unlike button */
.like-unlike-button .btn {
  font-size: 20px;
  border-radius: .2rem;  
  margin-left: 0px;
 }

 /* Follow Follower一覧 */

 .followings .nav-tabs {
   margin-top: 100px;
 }

 .followers .nav-tabs {
   margin-top: 100px;
 }

.follower {
  margin-left: 550px;
  margin-top: 40px;
}

.followed {
  margin-left: 550px;
  margin-top: 40px;
 }

.cancel {
  margin-left: 81px;
}

.done {
  margin-left: 5px;
}

.edit-posts {
  margin-top: 100px;
}

.user-img-edit .follow-unfollow-btn {
  margin-top: 32px;
}

.profile-intro p {
  margin-bottom: 20px;
}

.search-form {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding-left: 10px;
}

.search-user {
  margin-top: 40px;
  margin-bottom: 60px;
}

.search-name {
  margin-left: 10px;
}

.search-movie {
  margin-left: 10px;
}
 
.form-mb {
  margin-bottom: 25px;
}

/* Desktop版ここまで */


/* iPadPro版 */

@media (max-width: 1025px) {

  /* Header */
  .main-nav { 
    /* <li>タグを横並びにする */
    display: flex; 
    font-size: 1.25rem;
    /* 文字を大文字にする */
    text-transform: uppercase;
    margin-top: 74px;
    margin-right: 100px;
    list-style: none;
  }

  .after-reading {
    margin-top: 100px;
  }

  .after-problem {
    margin-top: 70px;
  }

  .img-top2 {
    margin-top: 45px;
  }

  .img-top3 {
    margin-top: 250px;
  }

  .img-top4 {
    margin-top: 145px;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 95px;
    margin-bottom: -80px;
    margin-right: 200px;
    margin-left: 200px;
  } 
  
  .alert-danger {
    
    margin-top: 100px;
    margin-bottom: -80px;
    margin-right: 200px;
    margin-left: 200px;
  }

  /* post */

  .c-modal_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 60%;
  }

  /* User */
   
  .user-profile{
    width: 300px;
    padding:2em;
    background:#fff;
    border:#ddd 5px solid;
    border-radius:10px;
    margin-top: 30px;
  }

  .change-photo {
    margin-left: 270px;
  }

  .profile-intro p {
    margin-left: -27px;
  }

  /* like unlike button */
  .like-unlike-button .btn {
    font-size: 20px;
    border-radius: .2rem;  
    margin-left: 0px;
  }

  .follower {
    margin-left: 125px;
    margin-top: 35px;
  }
  
  .followed {
    margin-left: 125px;
    margin-top: 35px;
   }

   .cancel {
    margin-left: 36px;
  }

  .done {
    margin-left: 5px;
  }
}
 
/* iPadPro版ここまで */

/* iPad版 */

@media (max-width: 800px) {

  /* Header */
  .main-nav {
    /* <li>タグを横並びにする */
    display: flex; 
    font-size: 1.25rem;
    /* 文字を大文字にする */
    text-transform: uppercase;
    margin-top: 74px;
    margin-right: 100px;
    list-style: none;
  }

  .after-reading {
    margin-top: 100px;
  }

  .after-problem {
    margin-top: 70px;
  }

  .img-top3 {
    margin-top: 100px;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 90px;
    margin-bottom: -80px;
    margin-right: 200px;
    margin-left: 200px;
  }
  
  .alert-danger {
    
    margin-top: 100px;
    margin-bottom: -80px;
    margin-right: 200px;
    margin-left: 200px;
  }

  /* User */

  #user-show img {
    /* 円形にする */
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: 0px;
  }

  .user-profile{
    width: 230px;
    padding:2em;
    background:#fff;
    border:#ddd 5px solid;
    border-radius:10px; 
    margin-top: 20px;
  }

  .change-photo {
    margin-left: 170px;
  } 
  
  .profile-intro p {
    margin-left: -27px;
  }

  /* like unlike button */
  .like-unlike-button .btn {
    font-size: 20px;
    border-radius: .2rem;  
    margin-left: 0px;
  }

  .follower {
    margin-left: 100px;
    margin-top: 35px;
  }
  
  .followed {
    margin-left: 100px;
    margin-top: 35px;
   }

   .cancel {
    margin-left: -24px; 
  }

  .done {
    margin-left: 5px;
  }

}

/* iPad版ここまで */

/* mobile版 */

@media (max-width: 600px) {

  p {
    margin-bottom: 40px;
    padding: 0 20px; 
    font-size: 16px;
  }

  .page-title {
    font-size: 2.5rem;
  }

  /* Header */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 0px
  }

  .main-nav li {
    margin: 0 20px;
  }

  /* Home */
  .home-content {
    margin-top: 20%;
  }

  .home-content p {
    font-size: 1.125rem;
    margin: 80px 50px 42px;
  }

  #home .page-title { 
    text-transform: none;
    margin-top: -55px;
  }

  /* logoとnavigation-menuを縦に並べる */
  .page-header {
    /* 要素を縦並びにする設定 */
    flex-direction: column;
    /* 画面中央に配置 */
    align-items: center;
  }

  h2 {
    padding-bottom: 40px;
  }

  .problem {
    padding-top: 40px;
  }

  .solution {
    padding-top: 40px;
  }

  .function { 
    padding-top: 40px;
  }

  .after-reading { 
    margin-top: 20px;
  }
  
  .after-problem {
    margin-top: 20px;
  }
  
  .after-solution {
    margin-top: 20px;
  }
  
  .after-function {
    margin-top: 20px;
  }

  .img-top3 {
    margin-top: 50px;
  }

  .img-top4 {
    margin-top: 60px;
  }

  /* Signup */
  h1 {
    font-size: 22px;
  }
  
  .account {
    padding-top: 200px; 
  }

  .form {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn {
    font-size: 15px;
  }

  .name {
    margin-top: 45px;
  }

  /* flashメッセージ */

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 80px;
    margin-bottom: -80px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .alert-danger {
    margin-top: 80px;
    margin-bottom: -80px;
    margin-right: 70px;
    margin-left: 80px; 
  }

  /* Login後のnavbar */
  /* navの設定=固定 */
.navbar {
  position: fixed;
  position: -webkit-fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
 }

 /* post */

 .post p {
   padding-left: 20px;
   padding-right: 20px;
   font-weight: bold;
 }

 .c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 85%;
  }

  #user-show img {
    /* 円形にする */
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: 0px;
  }

  .user-profile{
    width: 210px;
    padding: 20px;
    background:#fff;
    border:#ddd 5px solid;
    border-radius: 50px;
    margin-top: 30px;
  }

  .user-profile img{
    width:100%;
    height:auto;
    border-radius:30px 0;
    margin-left: 30px;
  }

  .content {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
    margin-left: 43px;
  }

  .post-modal {
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
  }

  .post-modal a {
    display:block;
    height:50px;
    margin-top: 30px;
    line-height:50px;
    background:tomato;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
  }

  .post-modal-toppage {
    width: 93%;
    padding: 10px 5px 5px 10px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 60px;
    margin: 100px auto 40px;
  }

  .post-modal-toppage p {
    margin-bottom: 10px;
  }

  .post-modal-toppage a {
    display:block;
    width: 100px;
    height:40px;
    margin: 10px auto 0;
    line-height:38px;
    background:tomato;
    color:#fff;
    border-radius:25px;
    text-decoration:none;
    text-align:center;
  }

  .content2 {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
    margin-left: 43px;
  }

  /* profileの投稿数の位置設定 */

  .posts-ml {
    margin-left: 15px;
  } 

  /* profileのsubscriptionなどの記入欄 */

  .profile-intro p {
    margin-left: -5px;
  }

  /* like unlike button */
  .like-unlike-button .btn {
   font-size: 15px;
   border-radius: .2rem;  
   margin-left: -14px;
  }

  /* edit-profile button */

  .edit-profile-btn {
    margin-top: 32px;
  }

  
  /* varius-button */

  .varius-btn {
    margin-top: 25px;
    margin-bottom: 20px
  }

  /* nameの上の余白 */

  .margin-post {
    margin-top: 25px;
  }

  /* text-mutedのfont-size */

  .text-muted {
    font-size: 11px;
  }

  /* View-profile */

  .user-profile a{
    display:block;
    height:50px;
    margin:1em 0;
    line-height:50px;
    background:tomato;
    color:#fff;
    border-radius:25px;
    box-shadow:0 5px 0 gold;
    text-decoration:none;
    text-align:center;
  }

  .edit-profile {
    margin-top: 83px
  }
 
  .change-pro {
    margin-top: 20px;
  }

  .change-photo {
    margin-left: 50px;
  }

 
  .follower {
    margin-left: 55px;
    margin-top: 25px;
  }
  
  .followed {
    margin-left: 55px;
    margin-top: 25px;
   }

   h5 { 
    font-size: 18px;
  }

  .toppage {
    margin-top: 1px;
  }
 
  .cancel {
    margin-left: -72px;
  }
  
  .done {
    margin-left: 5px;
  }

  .user-pro-img {
    width: 100px;
    height: 100px; 
    /* 画像を円形にする設定 */
    border-radius: 50%;
  }

  .border-bottom .user-pro-img {
    width: 75px;
    height: 75px;
    /* 画像を円形にする設定 */
    border-radius: 50%;
  } 
 
  .search-user {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .search-movie {
    margin-left: 0px;
  }

} 
  
/* mobile版ここまで */

/* mobile-min版 */

@media (max-width: 400px) {
  .home-content p {
    font-size: 1.125rem;
    margin: 83px 50px 42px;
  }

  /* edit-btn */

  .edit-btn {
    margin-left: 9px;
  }

  /* like unlike button */
  .like-unlike-button .btn {
    font-size: 15px;
    border-radius: .2rem;  
    margin-left: 0px;
   }

   .btn {
     font-size: 13px;
   }

   .border-bottom .btn {
     margin-left: 18px;
   }

   
}



/* mobile-mini版ここまで */














.container #main {
    background-color: white;
    margin-top: 15rem;
    margin-bottom: 12rem;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        margin-right: 40px;
        margin-left: 0.1rem;
        padding: 0 0.1rem;
  }
}

@media only screen and (min-width: 992px) {
    .login-nav {
        margin-right: 20rem;
    }
}

@media only screen and (min-width: 576px) {
    .login-nav {
        margin-right: 4.1rem;
    }
}




/* liのhober時にマウスポインタ―を付ける */
li {
  cursor: pointer;
  color: #00BFFF;
}




@media only screen and (min-width: 0px) {
 .post-content {
   font-size: 25px;
 }
}

@media only screen and (min-width: 576px) {
 .post-content {
   font-size: 23px;
 }
}

.webapp .topimg2 a {
  color: white;
  border-bottom: solid 3px white;
}

.topimg2 {
  z-index: 0;
}

.topimg2::before {
  content: "";
  position: absolute;
  z-index: -2;
  /* blurで指定したpxと同じ値を指定 */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
}

/* toppageの位置設定 */

.webtop {
  margin-top: 200px;
}


/* USerのshowpage */
@media only screen and (min-width: 0px) {
  #user-show {
    margin-top: 15rem;
  }
}


@media only screen and (min-width: 1025px) {
  #user-show {
    margin-top: 13rem;
  }
}

/* 文字を太字にする設定 */

.bold {
  font-weight: bold;
}

/* 文字に下線を引く設定
  transparentの値を小さくすると下線の太さが細くなり、
  値を大きくすると下線の太さが太くなる
  #f2dd92は下線の色を設定している。
  0%のところは特に触らなくてもOK
*/


.under {
  background: linear-gradient(transparent 75%, #f2dd92 0%)
}

.under1 {
  background: linear-gradient(transparent 75%, aqua 0%)
}

/* タイトル付きの枠で囲う設定  */

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
}

.box .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box p {
  margin: 0; 
  padding: 0;
}

/* タイトルなしの囲いをつける設定 */

.box1{
  padding: 0.5em 1em;
  margin: 0 auto;
  border: double 5px #4ec4d3;
}

.box1 p {
  margin: 0; 
  padding: 0;
}

/* 囲いの中にワンフレーズ */

.box2 {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #FFC107;
}
.box2 .box-title2 {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
}
.box2 p {
  margin: 0; 
  padding: 0;
}

/* 文字の前にチェックマーク(✓)を入れたいときの設定 */

.check:before {
  content: "\02714";
  margin-right: 10px;
}

/* モーダルウィンドウ全体のレイアウト（画面いっぱいに表示）*/
.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* 黒背景の設定 */
.c-modal_bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}




.c-modal_content_inner {
  position: relative;
  padding: 24px;
}

/* 閉じるボタン */
.c-modal_close {
  position: absolute;
  top: 13px;
  right: 10px;
}

@media only screen and (min-width: 576px) {
  
  .content {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .content {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
  }
  
}

@media only screen and (min-width: 1025px) {
  .content {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
  }
}



  
  


@media only screen and (min-width: 576px) {
  .content1 {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;

  }
}

@media only screen and (min-width: 576px) {
  .content2 {

    width: 100%;
    padding: 15px 30px;
    background-color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 22px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 0px) {
  
  #user-show .container{

    margin-top: -18px;
  }
}


@media only screen and (min-width: 576px) {
  #user-show  .container{
    margin-top: -18px;
  
  }
}





.post1 {
  padding-top: 10px;

}

.post2 {
  padding-top: 10px;
  padding-bottom: 5px;

}

.content p {
  margin-bottom: 0;
}

/* 投稿と投稿の間の線を入れる */
.post-border {
  border-bottom: 1px solid rgb(235, 238, 240);;
  padding: 20px 0;
}









.username {
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
}


.posts {
  margin-left: -2.1rem;
}

.following {
  margin-left: 4rem;
}

.followers {
  margin-left: 4rem;
}


.posts1 {
  margin-left: 10px;
}

.following1 {
  margin-left: 10px;
}

.followers1 {
  margin-left: 10px;
}

.goal {
  margin-left: -2.1rem;
  margin-top: -30px;
}

.profile {
  margin-top: 10px;
}


@media only screen and (min-width: 0px) {
  .edit .btn {
    font-size: 20px;
    border-radius: 25px;
  }
}


@media only screen and (min-width: 576px) {
  .edit .btn {
    font-size: 18px;
    margin-left: 30px;
    border-radius: 25px;
  }
}

/* 投稿数を円の中に表示する */

@media only screen and (min-width: 0px) {
  .circle {
    /* 円形にする */
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    background-color: silver;
    text-align: center;
    line-height: 39px;
    display: inline-block;
  
  }
  .texts {
    margin: 100px;
  }
}

@media only screen and (min-width: 576px) {
  .circle {
    /* 円形にする */
    border-radius: 50%;
    height: 155px;
    object-fit: cover;
    background-color: silver;
    text-align: center;
    line-height: 42px;
    display: inline-block;  
  }

  .texts {
    margin: 100px;

  }
}

@media only screen and (min-width: 992px) {
  .circle {
    /* 円形にする */
    border-radius: 50%;
    height: 145px;
    object-fit: cover;
    background-color: silver;
    text-align: center;
    line-height: 39px;
    display: inline-block;  
  }
  .texts {
    margin: 100px;
  }
}

@media only screen and (min-width: 1025px) {
  .circle {
    /* 円形にする */
    border-radius: 50%;
    height: 170px;
    object-fit: cover;
    background-color: silver;
    text-align: center;
    line-height: 46px;
    display: inline-block;
  }
  .texts {
    margin: 100px;
  }
}

.medal {
  margin-top: 30px;
}

.image-edit {
  margin-top: -25px;
  margin-bottom: 50px;
}

.change-pro {
  margin-left: -22px; 
} 


@media only screen and (min-width: 0px) {
  
  .edit-content {
    padding: 60px 10px;
    margin-bottom: 20px;
    font-size: 23px;
  }
}


@media only screen and (min-width: 576px) {
  
  .edit-content {
    padding: 60px 10px;
    margin-bottom: 20px;
    font-size: 22px;
  }
}

/*　User一覧の設定 */

@media only screen and (min-width: 0px) {
  
  .user-profile span{
    display:inline-block;
    margin:1em 0 0 -15px;
    font-size:12px;
    padding:.5em 1em;
    border-radius:.5em;
  }
}

@media only screen and (min-width: 568px) {
  
  .user-profile span{
    display:inline-block;
    margin:1em 0 0 -15px;
    font-size:12px;
    padding:.5em 1em;
    border-radius:.5em;
  }
}

@media only screen and (min-width: 769px) {
  
  .user-profile span{
    display:inline-block;
    margin:1em 0 0 -15px;
    font-size:12px;
    padding:.5em 1em;
    border-radius:.5em;
  }
}

@media only screen and (min-width: 1025px) {
  
  .user-profile span{
    display:inline-block;
    margin:1em 0 0 -15px;
    font-size:12px;
    padding:.5em 1em;
    border-radius:.5em;
  }
}



.user-profile h1{
  margin: 10px 0;
  font-size:20px;
  font-weight:bold;
}

@media only screen and (min-width: 0px) {
  
  .paginate {
    margin-left: 280px;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 568px) {
  
  .paginate {
    margin-left: 280px;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 769px) {
  
  .paginate {
    margin-left: 280px;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 1025px) {
  
  .paginate {
    margin-left: 520px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 0px) {
  
  .alluser {
    margin-bottom: -145px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 568px) {
  
  .alluser {
    margin-bottom: -100px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 769px) {
  
  .alluser {
    margin-bottom: -140px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  
  .alluser {
    margin-bottom: -120px;
    padding-top: 30px;
  }
}


@media only screen and (min-width: 0px) {
  /*　スマホ縦用 */
  .name-edit {
    padding: 20px;
  }
}

@media only screen and (min-width: 576px) {
  /*　スマホ横用 */
  .name-edit {
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  /* タブレット用 */
  .name-edit {
    padding: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用 */
  .name-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 0px) {
  /*　スマホ縦用 */
  .goal-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 576px) {
  /*　スマホ横用 */
  .goal-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /*　タブレット用 */
  .goal-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用 */
  .goal-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 0px) {
  /*　スマホ縦用 */
  .achieve-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 576px) {
  /*　スマホ横用 */
  .achieve-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /*　タブレット用 */
  .achieve-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用 */
  .achieve-edit {
    padding: 10px;
  }
}

@media only screen and (min-width: 0px) {
  /*　スマホ縦用 */
  .done-edit {
    padding: 10px;
    margin-top: 15px;
    margin-left: 384px;
  }
}

@media only screen and (min-width: 576px) {
  /*　スマホ横用 */
  .done-edit {
    padding: 10px;
    margin-top: 10px;
    margin-left: 384px;
  }
}

@media only screen and (min-width: 768px) {
  /*　タブレット用 */
  .done-edit {
    padding: 10px;
    margin-top: -25px;
    margin-left: 205px;
  }
}

@media only screen and (min-width: 992px) {
  /*　タブレット用 */
  .done-edit {
    padding: 10px;
    margin-top: 25px;
    margin-left: 375px;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用 */
  .done-edit {
    padding: 10px;
    margin-top: -2px;
    margin-left: 509px;
  }
}

/* SignUpとLoginのおしゃれなボタン */

@media only screen and (min-width: 0px) {
  /*　スマホ縦用 */
  .signup-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 7%;
    right: 2%;
  }
  
  .signup-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
  
  .login-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 2%;
    right: 2%;
  }
  
  .login-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
}

@media only screen and (min-width: 576px) {
  /*　スマホ横用 */
  .signup-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 5%;
    right: 2%;
  }
  
  .signup-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
  
  
  .login-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 15%;
    right: 2%;
  }
  
  .login-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
}




@media only screen and (min-width: 768px) {
  /*　タブレット用 */
  .signup-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 2%;
    right: 2%;
  }
  
  .signup-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
  
  
  .login-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 8%;
    right: 2%;
  }
  
  .login-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用 */
  .signup-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 5%;
    right: 2%;
  }

  .signup-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
  
  
  .login-button a {
    background-color: #139CFF;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    font-family: helvetica;
    border: none;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
    position: fixed;
    bottom: 15%;
    right: 2%;
  }
  
  .login-button a:hover {
    background-color: #35EC5C;
    color: black;
    border-radius: 100%;
  }
}

