
<!--フォームのとこで呼び出す-->
<!--modelにはModelのインスタンスが代入されるようにする-->
<!--validatesによって検証に引っかかると自動的にエラー内容がmodel.errorsに格納される-->
<!--anyは全ての要素が偽のときにfalseを返す。つまり一つでも真があればtrueを返す-->
<% if model.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
        <ul class="mb-0">
            <% model.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>